<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/dashboard">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listusers">List Of Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Log out</a>
          </li>
         
        </ul>
       
      </div>
    </div>
  </nav>
   -->
 

   <div class="container">
 

    <nav>
   
       <ul >
        
           <li >
             <a class="nav-link active" aria-current="page" routerLink="/dashboard">Home</a>
           </li>
           <li >
             <a class="nav-link" routerLink="/users">List Of Users</a>
           </li>
           <li >
            <a class="nav-link" routerLink="/tuning" >Tuning</a>
          </li>
           <li >
             <a class="nav-link" routerLink='/login' (click)="logout()">Log out</a>
           </li>
          
         </ul>
         <div class="input-group">
           <div >
           <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
           </div>
           <button type="button" class="btn btn-outline-primary">search</button>
         </div>
       
    </nav>
   
  </div>
